{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <h1>{{ post.title }}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a></h1>
        <p>{{ post.published_date }}</p>
        <p>{{ post.text|linebreaks }}</p>
    </div>

    <div class="row">
        <h2>Comentarios</h2>
            {% for comment in comments %}
            <p>{{ comment.created_date }}</p>
            <p>{{ comment.text|linebreaks }}</p>
        {% endfor %}
    </div>
    
    <div>
        <h1>New post</h1>
        <form method="POST" class="comment-form">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit">Save</button>
    </div>

{% endblock %}